body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif, sans-serif;
  }
  
  /* Header Styling */
  header {
  
    background-color: #EBE9E9;
    text-align: center;
    padding: 20px 0; 
    margin-bottom: 20px; 
  }
  
  header h1 {
    color: #453E33;
    font-size: 24px;
    margin: 0;
  }
  
  /* Navigation Styling */
  nav {
    padding: 15px 0; 
    background-color: #DBD2CD; 
    border-top: solid #EBE9E9; 
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  
  nav ul li a {
    text-decoration: none;
    color: #453E33;
    font-size: 18px;
    font-weight: norm;
  }
  /* General Navigation Styling */
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  
  nav ul li a {
    text-decoration: none;
    color: #453E33;
    font-size: 18px;
    font-weight: normal;
    display: flex;
  }
  
  #hero {
    display: flex;
    justify-content:center ; 
    align-items: center;    
    text-align: center;    
    height: auto;          
  }
  

  img {
    width: 600px;  
    height: auto; 
  }
  
  
  /* Main Layout */
  body {
    background-color: #EBE9E9;
    color: #333;
  }
  
  main {
    background-color: #EBE9E9;
    max-width: 0px;
    margin: 0% auto;
    padding: 0px;
    border-radius: 10px;
    box-shadow: none;
  }
  p {
    text-align: center; 
    line-height: 1.6;
      width: 60%
  
  }
  
  
  /* Responsive Design */
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
      gap: 10px;
    }
  
    #hero img {
      max-width: 100%;
    }
  }